@import '../purchase/detail.less';

.hero-card {
  background: linear-gradient(135deg, #2ba471 0%, #48c79c 100%);
}

.hero-partner {
  flex: 1;
  font-size: 36rpx;
  font-weight: 600;
  line-height: 1.3;
}
